body {
  background: #009499;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.07em;
}
h1 { line-height: 1em; }
h1 i {
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0.3em;
  padding-left: 0.5em;
}
h1 small {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: .5em;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 0.07em;
}
.wrapper {
  margin: 3em 1em;
  text-align: center;
}
.wrapper .txt {
  font-size: 1.4em;
  font-weight: 100;
}
.wrapper .e404 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 6em;
  margin: 0;
}
